@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("../public/fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #000 !important;
  color: #fff !important;
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #17fd5f;
}
