@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000 !important;
  color: #fff !important;
  font-family: var(--font-helvetica), sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #17fd5f;
}
